[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke
[submodule "themes/paige"]
	path = themes/paige
	url = https://github.com/willfaught/paige
[submodule "themes/hugo-story"]
	path = themes/hugo-story
	url = https://github.com/caressofsteel/hugo-story.git
